CT_EXPERIMENTAL=y
CT_DEBUG_CT=y
CT_DEBUG_CT_SAVE_STEPS=y
CT_DEBUG_INTERACTIVE=y
CT_LOCAL_TARBALLS_DIR="${CT_TOP_DIR}/../downloads"
CT_PREFIX_DIR="${CT_TOP_DIR}/output/gcc-${CT_TARGET}-${CT_CC_GCC_VERSION}"
# CT_REMOVE_DOCS is not set
CT_BUILD_MANUALS=y
CT_ARCH_arm=y
CT_ARCH_CPU="cortex-a9"
CT_ARCH_FPU="neon"
CT_ARCH_FLOAT_HW=y
# CT_ARCH_ARM_TUPLE_USE_EABIHF is not set
CT_TARGET_VENDOR="socfpga_hf"
CT_CANADIAN=y
CT_HOST="x86_64-w64-mingw32"
CT_LIBC_NEWLIB_TARGET_CFLAGS="-DREENTRANT_SYSCALLS_PROVIDED -D__DYNAMIC_REENT__ -mno-unaligned-access"
CT_LIBC_NEWLIB_IO_C99FMT=y
CT_LIBC_NEWLIB_IO_LL=y
CT_LIBC_NEWLIB_IO_FLOAT=y
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
CT_CC_GCC_CUSTOM=y
CT_CC_GCC_CUSTOM_LOCATION="${CT_LOCAL_TARBALLS_DIR}/gcc-8.1.0.tar.xz"
CT_CC_GCC_CUSTOM_VERSION="8.1.0"
CT_CC_LANG_CXX=y
CT_DEBUG_gdb=y
